<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>博客</title> 
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="https://cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <link rel="stylesheet" href='/stylesheets/reset.css'>
    <link rel="canonical" href="http://www.ghostchina.com/" />
    <meta name="referrer" content="origin" />
    <link rel="next" href="http://www.ghostchina.com/page/2/" />
    <meta name="generator" content="Ghost 0.7" />
    <link rel="alternate" type="application/rss+xml" title="Ghost 开源博客平台" href="http://www.ghostchina.com/rss/" />
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script charset="utf-8" src="/kindeditor-4.1.7/kindeditor-min.js"></script>
    <script charset="utf-8" src="/kindeditor-4.1.7/lang/zh_CN.js"></script>
    <script>
     var editor;
     KindEditor.ready(function(K) {
      editor = K.create('textarea[name="post"]', {
      allowImageUpload : false,
      items : [
    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
    'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
    'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
    });
   });
</script>
</head>

<body class="home-template">
   <nav class="main-navigation">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="navbar-header">
                     <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">toggle navigation</span>
                        <i class="fa fa-bars"></i>
                     </span>
                  </div>
                  <div class="collapse navbar-collapse" id="main-menu">   
                      <ul class="menu">
                           <li class="logo">Melissa的个人博客</li>
                           <li role="presentation"><a title="主页" href="/" class="top">首页</a</li>
                           <li  role="presentation"><a title="存档" href="/archive" class="top">归档</a></li>
                           <li  role="presentation"><a title="关于" href="/about" class="top">关于</a></li>
                           <% if (user) { %>
                           <li  role="presentation"><a title="发表" href="/post" class="top">发表</a></li>
                           <li  role="presentation"><a title="上传" href="/upload" class="top">上传</li>
                           <li  role="presentation"><a title="存档" href="/archive" class="top">存档</a></li>
                           <li  role="presentation"><a title="标签" href="/tags" class="top">标签</a></li>
                           <li  role="presentation"><a title="友情链接" href="/links" class="top">友情链接</a></li>
                           <li  role="presentation"><a title="用户信息" href="/user" class="top">用户信息</a></li>
                            <li  role="presentation"><a title="登出" href="/logout" class="top">登出</a></li>
                           <% }  %>
                      </ul>   
                 </div>
              </div>
          </div>
     </div>
   </nav>



<table cellpadding="0" cellspacing="0" border="0" width="100%" style="display:none;">
<tr>
<td width="110" align="left"><h1><%= title %></h1></td>
<td width="auto" align="left">
<div id="search">
<form action="/search" method="GET">
<div style="width:276px;height:28px;background-size:276px 28px;background-image:url('https://www.v2ex.com/static/img/qbar_light@2x.png');background-repeat:no-repeat;display:inline-block;">
<input type="text" name="keyword"  maxlength="40" id="q"/>
</div>
</form>
</div>
</td>
<td width="570" align="right" style="padding-top:2px;">
<nav>
<span><a title="主页" href="/" class="top">主页</a></span>
<% if (user) { %>
  <span><a title="发表" href="/post" class="top">发表</a></span>
  <span><a title="登出" href="/logout" class="top">登出</a></span>
  <span><a title="上传" href="/upload" class="top">上传</a></span>
  <span><a title="存档" href="/archive" class="top">存档</a></span>
  <span><a title="标签" href="/tags" class="top">标签</a></span>
  <span><a title="友情链接" href="/links" class="top">友情链接</a></span>
  <span><a title="用户信息" href="/user" class="top">用户信息</a></span>
<% }  %>
</nav>
</td>
</tr>
<span>
</table>

