<nav class="pagination" role="navigation">
  <% if (!isFirstPage) { %>
    <a class="newer-posts"  href="?p=<%= page-1 %>"><i class="fa fa-angle-left"></i></a>
  <% } %>


<% if (page && pages>0) { %>
<span class="page-number">第 <%= page %> 页／共 <%=pages%> 页</span>
 <% } %>


  <% if (!isLastPage && page!=pages) { %>
   <a  class="older-posts" title="下一页" href="?p=<%= page+1 %>"><i class="fa fa-angle-right"></i></a>
  <% } %>
</nav>
